.navbar {
	background-color: grey;
	height: 80px;
}

.room-list {
	background-color: grey;
	position: absolute;
	top: 120px;
	left: 0px;
	height: 60%;
	width: 200px;
	color: white
}

.messages {
	 display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  padding-right: 10%;
}


.msg {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}


.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other span {
  color: black !important;
  background-color: #C7C7CC !important;
}



 .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}


.messages-master {
	margin-left: 25%;
	margin-right:5%;
	min-height: 50%;
	text-align: center;
	
}

.sidebar-nav-fixed {

    position:fixed;
    top:200px;
    width:21.97%;
}

.navbar .logo {
	color: white;
	font-weight: 300;
	vertical-align: text-middle;
	font-size: 50px;
	margin-left: 10px;
	text-decoration: underline;
	min-width: 20%
	width: 20%;
}

html, body {
	height: 100%;
	width: 100%;
}

.footer {
	background-color: grey;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.footer h4 {
	font-weight: 400;
	text-transform: uppercase;
	color: white;
}